version: "3"
services:
  selenium-hub:
    image: selenium/hub:latest
    container_name: selenium-hub
    ports:
      - "4442:4442" # Map port 4442 on the host to port 4442 in the container (used for the event bus).
      - "4443:4443" # Maps port 4443 on the host to port 4443 in the container (used for the event bus).
      - "4444:4444" # Maps port 4444 on the host to port 4444 in the container (used for the Grid UI and API).
    environment:
      - GRID_MAX_SESSION=6
      - GRID_BROWSER_TIMEOUT=3000
      - GRID_TIMEOUT=3000
    networks:
        - selenium-grid-network

  Chrome:
    image: selenium/node-chrome:latest
    container_name: chrome-node
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=2
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true
    volumes:
      - /dev/shm:/dev/shm
    shm_size: 2gb
    networks:
      - selenium-grid-network

  firefox:
    image: selenium/node-firefox:latest
    container_name: firefox-node
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=2
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true
    volumes:
      - /dev/shm:/dev/shm
    shm_size: 2gb
    networks:
      - selenium-grid-network

networks:
  selenium-grid-network:
    driver: bridge